---
layout: default
title: Services
section_id: services
services_left:
  - icon: trophy
    title: Web Design
    desc: We work in partnership with Vaimo's creative team as well as a select number of talented UX Designers.
  - icon: cogs
    title: Web Development
    desc: A full in-house development team, totalling over 20 years of ecommerce experience.
  - icon: pagelines
    title: Branding
    desc: We work with you to develop the best web and app solutions to take your Brand to market.
  - icon: lock
    title: Security
    desc: Critical in the current technological environments is a deep knowledge of security.  Our team put your business security at the fore.
services_right:
---

<div class='full parallax' style='background-image: url(images/@stock/sky.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" tagline="Get to know what we do" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>