---
layout: default
title: MDLware Solutions
section_id: mdlware-solutions
---

<div class='full parallax' style='background-image: url(images/dots.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="MDLware Solutions" tagline="MDLware is a system which can slot into your existing Sales architecture anywhere that you see the potential weaknesses or areas to exploit" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full">
  <div class='row'>
    <div class="large-12 columns">
      {% include section-header.html title="Overview" %}
      <div class="spacing"></div>
    </div>
    <div class="medium-6 columns">
      <img class="fadeinleft" alt="" src="images/MDLware-capabilities.png" style="width: 100%;" />
    </div>
    <div class="medium-6 columns">
      <p><strong>Kiosk</strong> – the ability to offer a self service till where the User can browse products and complete the purchase alone.</p>
      <p><strong>Field Sales & Van Sales </strong> – ie the Sales Rep who's out on the road and therefore could up-sell and cross-sell to their B2B customers, with the added ability to complete the sale right through to payment whilst with the customer.</p>
      <p><strong>Store Assistant</strong> – imagine being able to offer a personal shopping experience to every customer who walks into your store.  Store Staff can use the instore iPad to interact with customers as they walk by.  With the simple touch and swipe of a finger you can browse catalogs, process orders, swipe credit cards and print or email receipts – on the spot, with the consumer.</p>
      <p><strong>Consumer & Loyalty App</strong> – Having your app available on multiple app stores will allow you to provide your customers with an ultra-convenient browsing and buying experience; offering multiple strategies for boosting retail revenue, customer engagement and lifetime value.</p>
    </div>
  </div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Ultimately MDLware’s solutions can help you deliver a seamless, customer-centric experience across different channels" %}
      <div class="spacing"></div>
    </div>
  </div>
<div class='four spacing'></div>
