<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h3>Partnered with</h3>
        <ul class="list-inline">
          <li>
            <a href="https://magento.com/"><img src="../img/magento.png"></a>
          </li>
          <li>
            <a href="https://www.vaimo.com/"><img src="../img/vaimo.png"></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
