<div class='full parallax' style='background-image: url(images/@stock/sky.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our customers" color="#fff" %}
      <div class='spacing'></div>
      <p>
        Working alongside Vaimo SA we are now developing a number of projects for 3 leading retailers in the tyre, home furnishings and sportswear industries.
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <!-- <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in site.data.clients %}
          <div>
            <a href="{{client.url}}">
              <img alt="" src="{{client.image}}" />
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div> -->
</div>